@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Titillium+Web:wght@600&display=swap');

body{
    background-image: url('../img/binarycode.jpg');
    background-size: 47%;
    margin: 0px;
    padding: 0px;
}



h1{
    color:#4ca963;
    font-size: 37px;
    font-family:'Titillium Web', sans-serif;  
    border-bottom: #2A6B74 dashed 2px;
    padding-bottom: 7px;
    text-transform: capitalize;
}

h2{
    color: #4ca963;
    font-size: 21px;
    font-family:'Titillium Web', sans-serif;

}

h3{
    color: #003745;
    font-size: 28px;
    font-family:'Titillium Web', sans-serif;
}
    
h4{
    color:#003745;
    font-size: 18px;
    font-family:'Titillium Web', sans-serif;
}
        

p{
    color: #93BA88;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; 
}

blockquote{
    color: #93BA88;
    font-size: 15px;
    font-family: 'Roboto', sans-serif ;
    font-style: italic;
    border-left: #2A6B74 solid 10px;
    padding-left: 5px;
    width: 50%;
    
}
header{
    background-image: url('../img/hacktheplanet.png');
    height: 125px;
    width: 1622px ;
    margin-top: 20px;
   
    
    
    
}

article {
    float: left;
    background-color:rgba(0, 55, 69, 0.85);     
    width: 65% ;
    margin: 30px auto 30px 20px;
    /*margin-top: 30;
    margin-right: auto;
    margin-bottom: 30px; 
    margin-left: 20px;*/
    padding: 25px;
    border-radius: 5px;
}

aside {
    color:#0a4958 ;
    background-color:rgba(58, 136, 78, 0.85);
    width:23% ;
    float: right ;
    padding: 12px;
    height: 1390px;
    margin: 30px 20px 20px auto;
    
}

footer{
    background-color:#0a4958;
    color: #60c79c;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 50px;
    

   }

 ul {
    list-style-type: none;
    margin: 10 px;
    margin-left: 20px;
    padding: 0px;
    overflow: hidden;
    background-color:#4ca963;
    height: 80px ;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 62px;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif; 
    font-size: 18px;
  }
  
  li a:hover {
    background-color: #003745;
  }

  .activado {
    background-color: #b8d6b9;
    width: 100px ;
    color: rgb(42, 136, 100);
  }

  .bajada{
    color: #93BA88;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
}

.clear {
    clear: both;
}

.foto_principal {
    width: 100%;

    }

  .noticia_1{
      width: 100%;
  }

  .noticia_2{
    width: 100%;
  }

  .noticia_3{
    width: 100%;
  }

  .noticia_4{
    width: 100%;
  }
  