body{
    background-color: rgb(126, 126, 126);

}

div{
    width: 300px;
    height: 200px;
      
   
   
}

.banderaF {
    position: absolute;
width: 300px;
height: 200px;
left: 12px;
top: 13px;

background: rgb(05, 20, 64);
        
    
}

.blancoF {
    position: absolute;
width: 100px;
height: 200px;
left: 100px;
top: 0px;

background: rgb(255, 255, 255);
}

.rojoF {
    position: absolute;
width: 100px;
height: 200px;
left: 200px;
top: 0px;

background: rgb(236, 25, 32);

}

.banderaC{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 346px;
    top: 13px;
    
    background: rgb(252, 209, 022);

}

.azulC{
    position: absolute;
width: 300px;
height: 50px;
left: 0px;
top: 100px;

background: rgb(0, 056, 147);


}



.rojoC{
    position: absolute;
width: 300px;
height: 50px;
left: 0px;
top: 150px;

background: rgb(206, 017, 038);
}


.banderaE{
position: absolute;
width: 300px;
height: 200px;
left: 680px;
top: 13px;

background: rgb(173, 21, 25);
}

.amarilloE{
    position: absolute;
width: 300px;
height: 80px;
left: 0px;
top: 67px;

background: rgb(250, 189, 0);
}

.escudo_español{
    width: 20%;
    top: 78px;
    left: 50px;
    position: relative;
}

.banderaCR{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 1014px;
    top: 13px;
    
    background: rgb(0, 43, 127);

}


.blancoCR{
    

position: absolute;
width: 300px;
height: 138px;
left: 0px;
top: 31px;

background: rgb(255, 255, 255);

}

.rojoCR{
    
    position: absolute;
    width: 300px;
    height: 66px;
    left: 0px;
    top: 67px;
    
    background: rgb(206, 17, 38);
}

.banderaI{

    position: absolute;
    width: 300px;
    height: 200px;
    left: 12px;
    top: 233px;
    
    background: rgb(2, 82, 156);


}



.blancoIvertical{
    
    position: absolute;
    width: 50px;
    height: 200px;
    left: 80px;
    top: 0px;
    
    background: #FFFFFF;




}

.blancoIhorizontal{

    position: absolute;
width: 300px;
height: 50px;
left: 0px;
top: 75px;

background: #FFFFFF;
}



.rojoIvertical{
    position: absolute;
    width: 27px;
    height: 200px;
    left: 91px;
    top: 0px;
    
    background: rgb(220, 30, 53);

}

.rojoIhorizontal{
    position: absolute;
    width: 300px;
    height: 27px;
    left: 0px;
    top: 87px;
    
    background: rgb(220, 30, 53);



}


.banderaJ{

    position: absolute;
width: 300px;
height: 200px;
left: 346px;
top: 233px;

background: #FFFFFF;
}

.rojoJ{

    position: absolute;
width: 116px;
height: 116px;
left: 92px;
top: 42px;
border-radius: 50%;

background: rgb(188, 0, 45);
}

.banderaCH{
    position: absolute;
width: 300px;
height: 200px;
left: 680px;
top: 233px;

background: #FF0000;
}

.blancoCH{

    position: absolute;
width: 192px;
height: 100px;
left: 108px;
top: 0px;

background: #FFFFFF;
}

.azulCH{
    position: absolute;
width: 108px;
height: 100px;
left: 0px;
top: 0px;

background: rgb(0, 53, 173);
}

.estrella_blanca{

    width:28%;
    top: 8px;
    left: 10px;
   position: relative;
}

